{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Important {% endblock %}

{% block content %}

	<h4>Please read the following instructions carefully:</h4>

	<ul>
		<li>
			In the next four rounds, you will now be given a small reward for contributing to the group. <b>For every $1 that you contribute to the group, you will be rewarded with your choice of either a {{ Constants.candy_1 }} or a {{ Constants.candy_2 }} </b>.
		</li>
	</ul>

{% next_button %}

{% endblock %}