{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Important Notice for Round {{ subsession.round_number }} {% endblock %}

{% block content %}

	<p>
		The original rules of the game apply in this round, so you <b>not</b> will be given an extra reward for contributing to the group. Please note, however, that the sum of contributions to the group will still be multiplied by {{ Constants.efficiency_factor }} and divided evenly among all {{ Constants.players_per_group }} group members.
	</p>

{% next_button %}

{% endblock %}