{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Round {{ subsession.round_number }}: Results {% endblock %}

{% block content %}

<ul>
	<li>
    	You started with an <b> endowment of {{ Constants.endowment }}</b>, of which you  <b> contributed {{ player.contribution }}</b> to the group.
  </li>
    <li>
    	Your group contributed a <b>total of {{ group.total_contribution }}</b>, resulting in an <b>individual share of {{ group.individual_share }}</b>.
    </li>
    <li>
      You sanctioned {{ player.num_sanctions }} other group members, at a cost of {{ Constants.sanction_fee }} per sanction.
    </li>
    <li>
      You were sanctioned by {{ player.num_sanctioned }} other group members, costing you {{ Constants.sanction_penalty }} per sanction.
    </li>
    <li>
    	Therefore, you will earn <b>{{ player.final_payoff }} if this round is chosen for payment (in addition to the $5 show-up fee)</b>.
    </li>
</ul>

{% next_button %}

{% endblock %}