{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Round {{ subsession.round_number }}: Sanction {% endblock %}

{% block content %}

<ul>
	<li>
    	You started with an <b> endowment of {{ Constants.endowment }}</b>, of which you  <b> contributed {{ player.contribution }}</b>.
    </li>
    <li>
    	Your group contributed a <b>total of {{ group.total_contribution }}</b>, resulting in an <b>individual share of {{ group.individual_share }}</b>. Thus you currently have <b>{{ player.initial_payoff }}</b>.
    </li>
    <li>
    	Now, you may choose to sanction other participants in your group for failing to contribute their fair share to the group. <b> Sanctioning another group member will cost you {{ Constants.sanction_fee }} and cost the sanctioned member {{ Constants.sanction_penalty }}.</b>
    </li>
    <li>
    	The contribution of each group member is displayed in below. The order in which the contributions are displayed is <b>randomized</b> before each round.
    </li>
</ul>

<table class="table table-hover text-center" style="width:40%; margin: auto;">
  <thead>
  	<tr>
  	<td>Contribution</td>
  	<td>Sanction?</td>
  	</tr>
  </thead>
  <tbody>
	  <tr>
	    <td> {{ group.rank_1_contribution }} </td>
	    <td>
		    {% if player.rank != 0 %}
		    <label class="checkbox-inline">{% formfield player.sanctions_rank_1 with label="" %}</label>
		    {% else %}
		    <div style="display: none;">
		    	<label class="checkbox-inline">{% formfield player.sanctions_rank_1 with label="" %}</label>
		    </div>
		    <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You
		    <br>
		    <br>
		    {% endif %}
	    </td>
	  </tr>
	  <tr>
	    <td> {{ group.rank_2_contribution }} </td>
	    <td>
		    {% if player.rank != 1 %}
		    <label class="checkbox-inline">{% formfield player.sanctions_rank_2 with label="" %}</label>
		    {% else %}
		    <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You
		    <br>
		    <br>
		    {% endif %}
	    </td>
	  </tr>
	  <tr>
	    <td> {{ group.rank_3_contribution }} </td>
	    <td>
		    {% if player.rank != 2 %}
		    <label class="checkbox-inline">{% formfield player.sanctions_rank_3 with label="" %}</label>
		    {% else %}
		    <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You
		    <br>
		    <br>
		    {% endif %}
	    </td>
	  </tr>
	  <tr>
	    <td> {{ group.rank_4_contribution }} </td>
	    <td>
		    {% if player.rank != 3 %}
		    <label class="checkbox-inline">{% formfield player.sanctions_rank_4 with label="" %}</label>
		    {% else %}
		    <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You
		    <br>
		    <br>
		    {% endif %}
	    </td>
	  </tr>
  </tbody>
</table>



{% next_button %}

<script type="text/javascript">

// $('#sanctions_rank_2_id').checked = false;

</script>

{% endblock %}